.form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 14px 17px;
  background-color: #f7f7f7;

  .fieldRoot {
    padding: 0;
    cursor: pointer !important;

    &::before,
    &::after {
      display: none;
    }
  }

  .addButton {
    align-self: flex-end;
    margin-top: 10px;
  }
}
